<?
	if (!$command)  $command = $_GET['command'];
	if (!$username)  $username = $_POST['username'];
	if (!$password)  $password = $_POST['password'];
    
	if (!$_GET['command'])  $command="FIRST";
    
	include("php_scripts/LoginToken.php");
	if ($CTRL_TYPE == 1){
		$cond = " SITE_LEVEL = 1 ";
	}else if ($CTRL_TYPE == 2){
		if (is_null($TEMP_PROVINCE_CODE) || $TEMP_PROVINCE_CODE=="NULL" || $TEMP_PROVINCE_CODE=="'NULL'"){
			$cond = " SITE_LEVEL = 2 and PV_CODE = 'NULL' ";
		}else{
			$cond = " SITE_LEVEL = 2 and PV_CODE = '$TEMP_PROVINCE_CODE' ";
		}
	}else{
		$cond = " SITE_LEVEL = $CTRL_TYPE and ORG_ID = $TEMP_ORG_ID ";
	}

//	$cssfileselected = "stylesheets/style$RPT_N.css";
	$cssfileselected = "stylesheets/style.css";
	
	$cmd = " select * from SITE_INFO where $cond ";
	//print $cmd;
	$db->send_cmd($cmd);
	//$db->show_error();
	if ($data = $db->get_array()) {
		$data = array_change_key_case($data, CASE_LOWER);
		$top_l = trim($data[site_bg_left]);
		$top_l_x = trim($data[site_bg_left_x]);
		$top_l_y = trim($data[site_bg_left_y]);
		$top_l_w = trim($data[site_bg_left_w]);
		$top_l_h = trim($data[site_bg_left_h]);
		$top_l_a = trim($data[site_bg_left_alpha]);
		$top_b = trim($data[site_bg]);
		$top_b_x = trim($data[site_bg_x]);
		$top_b_y = trim($data[site_bg_y]);
		$top_b_w = trim($data[site_bg_w]);
		$top_b_h = trim($data[site_bg_h]);
		$top_b_a = trim($data[site_bg_alpha]);
		$top_r = trim($data[site_bg_right]);
		$top_r_x = trim($data[site_bg_right_x]);
		$top_r_y = trim($data[site_bg_right_y]);
		$top_r_w = trim($data[site_bg_right_w]);
		$top_r_h = trim($data[site_bg_right_h]);
		$top_r_a = trim($data[site_bg_right_alpha]);
        $css_name = trim($data[css_name]);
        $head_t = trim($data[site_name]);
        $head_height = trim($data[head_height]);
        $top_left = $top_l;
        $top_bg = $top_b;
        $top_right = $top_r;
        $cssfileselected = "stylesheets/".$css_name;
        $headtext_t = ($head_t?$head_t:$TEMP_ORG_NAME);
    } else {
		$cmd = " select * from SITE_INFO where SITE_LEVEL = 1 ";
		$db->send_cmd($cmd);
//		$db->show_error();
//		echo "$cmd<br />";
		if ($data = $db->get_array()) {
			$data = array_change_key_case($data, CASE_LOWER);
			$top_l = trim($data[site_bg_left]);
			$top_l_x = trim($data[site_bg_left_x]);
			$top_l_y = trim($data[site_bg_left_y]);
			$top_l_w = trim($data[site_bg_left_w]);
			$top_l_h = trim($data[site_bg_left_h]);
			$top_l_a = trim($data[site_bg_left_alpha]);
			$top_b = trim($data[site_bg]);
			$top_b_x = trim($data[site_bg_x]);
			$top_b_y = trim($data[site_bg_y]);
			$top_b_w = trim($data[site_bg_w]);
			$top_b_h = trim($data[site_bg_h]);
			$top_b_a = trim($data[site_bg_alpha]);
			$top_r = trim($data[site_bg_right]);
			$top_r_x = trim($data[site_bg_right_x]);
			$top_r_y = trim($data[site_bg_right_y]);
			$top_r_w = trim($data[site_bg_right_w]);
			$top_r_h = trim($data[site_bg_right_h]);
			$top_r_a = trim($data[site_bg_right_alpha]);
    	    $css_name = trim($data[css_name]);
	        $head_height = trim($data[head_height]);
    	    $top_left = $top_l;
	        $top_bg = $top_b;
        	$top_right = $top_r;
	        $cssfileselected = "stylesheets/".$css_name;
    	    $headtext_t = (trim($data[site_name])?trim($data[site_name]):"**".$TEMP_ORG_NAME."**");
		} else {
			$top_l_x = "";
			$top_l_y = "3";
			$top_l_w = "";
			$top_l_h = "";
			$top_l_a = ".8";
			$top_b_x = "";
			$top_b_y = "";
			$top_b_w = "";
			$top_b_h = "";
			$top_b_a = "1";
			$top_r_x = "";
			$top_r_y = "";
			$top_r_w = "";
			$top_r_h = "";
			$top_r_a = ".8";
	        $top_left = "images/top_left.jpg";
    	    $top_bg = "images/top_bg.jpg";
        	$top_right = "images/top_right.jpg";
	        $cssfileselected = "stylesheets/style.css";
    	    $headtext_t = $TEMP_ORG_NAME;
	        $head_height = 80;
		}
    }
	
	include "php_scripts/readstylehead.php";

if ($top_left && file_exists($top_left)) {
	list($width, $height, $type, $attr) = getimagesize($top_left);
	if (!$top_l_x) $top_l_x = "0";
	if (!$top_l_y) $top_l_y = "0";
	if (!$top_l_w) $top_l_w = "$width";
	if (!$top_l_h) $top_l_h = "$height";
	if (!$top_l_a) $top_l_a = "1";
} // if ($top_left && file_exists($top_left))
//	$headtext_t;
//	$LOGON_USER;
if ($top_bg && file_exists($top_bg)) {
	list($width, $height, $type, $attr) = getimagesize($top_bg);
	if (!$top_b_x) $top_b_x = "0";
	if (!$top_b_y) $top_b_y = "0";
	if (!$top_b_w) $top_b_w = "0";
	if (!$top_b_h) $top_b_h = "0";
	if (!$top_b_a) $top_b_a = "1";
} // if ($top_bg && file_exists($top_bg))
if ($top_right && file_exists($top_right)) {
	list($width, $height, $type, $attr) = getimagesize($top_right);
	if (!$top_r_x) $top_r_x = "0";
	if (!$top_r_y) $top_r_y = "0";
	if (!$top_r_w) $top_r_w = "$width";
	if (!$top_r_h) $top_r_h = "$height";
	if (!$top_r_a) $top_r_a = "1";
} // if ($top_right && file_exists($top_right))
if (!$head_height) $head_height = 80;

?>
<html>
<head>
<title><?=$webpage_title?></title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-874">
<META HTTP-EQUIV="Expires" CONTENT="Tue, 01 Jan 1980 1:00:00 GMT">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<link rel="stylesheet" href="<?=$cssfileselected?>" type="text/css">
<script src="java_scripts/AC_RunActiveContent.js" language="javascript"></script>
<script type="text/javascript"> 
	// กำหนดเพื่อให้มันเรียกวนที่ตัวเอง เมื่อกด back button ที่ browser
	if(window.history.forward(1) != null)  window.history.forward(1);
	
    var gform;
    function setform(form) 
    {
		gform=form;
//		alert("form->>"+gform.name); 
    } 

	function check_add2(form1) { 
		if(form1.confirm_passwd.value!=form1.passwd.value) {
			alert("รหัสผ่าน กับ ยืนยันรหัสผ่านไม่เหมือนกัน กรุณาระบุใหม่");
			form1.confirm_passwd.focus();
			return false;
		} else if(form1.old_passwd.value=="") {
			alert("กรุณาระบุรหัสผ่านเดิม");
			form1.old_passwd.focus();
			return false;
		} else  {
			form1.command1.value='UPDATE'; 
			return true; 
		}
	}
</script> 
<script type="text/javascript" src="java_scripts/swfobject.js"></script>
<script type="text/javascript">

//		swfobject.removeSWF("myContent");
		
		var flashvars = {};
		flashvars.url = "http://localhost";
		flashvars.logoName = "<?=$top_left?>";
		flashvars.logoTop = "<?=$top_l_x?>";
		flashvars.logoLeft = "<?=$top_l_y?>";
		flashvars.logoWidth = "<?=$top_l_w?>";
		flashvars.logoHeight = "<?=$top_l_h?>";
		flashvars.logoAlpha = "<?=$top_l_a?>";
		flashvars.rpic = "<?=$top_right?>";
		flashvars.rpicTop = "<?=$top_r_x?>";
		flashvars.rpicRight = "<?=$top_r_y?>";
		flashvars.rpicWidth = "<?=$top_r_w?>";
		flashvars.rpicHeight = "<?=$top_r_h?>";
		flashvars.rpicAlpha = "<?=$top_r_a?>";
		flashvars.bgpic = "<?=$top_bg?>";
		flashvars.bgpicTop = "<?=$top_b_x?>";
		flashvars.bgpicLeft = "<?=$top_b_y?>";
		flashvars.bgpicWidth = "<?=$top_b_w?>";
		flashvars.bgpicHeight = "<?=$top_b_h?>";
		flashvars.bgpicAlpha = "<?=$top_b_a?>";
		flashvars.bgColor1 = "<?=$bgcolor1?>";
		flashvars.bgColor2 = "<?=$bgcolor2?>";
		flashvars.bgAlpha1 = "<?=$bgalpha1?>";
		flashvars.bgAlpha2 = "<?=$bgalpha2?>";
		flashvars.bgFillType = "linear";
		flashvars.headsysName = "";
		flashvars.headsysTop = "7";
		flashvars.headsysLeft = "";
		flashvars.headsysStyle = "<?=$sysname_style?>";
		flashvars.headdeptName = "<?=$headtext_t?>";
		flashvars.headdeptTop = "";
		flashvars.headdeptLeft = "";
		flashvars.headdeptStyle = "<?=$deptname_style?>";
		flashvars.headuserLogin = "<?=$LOGON_USER?>";
		flashvars.headulogTop = "";
		flashvars.headulogLeft = "";
		flashvars.headulogStyle = "<?=$username_style?>";
		flashvars.f_showmsg = "N";

		var params = {};
		params.play = true;
		params.loop = true;
		params.quality = "best"; 
		params.wmode = "transparent";
		params.swliveconnect = true;
		params.allowscriptaccess = "always";

		var attributes = {};

   		//swfobject.embedSWF("swfs/dynamic_head.swf", "myContent", "100%", "80", "9.0.0", "swfs/src/expressInstall.swf", flashvars, params, attributes);
		swfobject.embedSWF("swfs/dynamic_head.swf", "myContent", "100%", "<?=$head_height?>", "9.0.0", "swfs/src/expressInstall.swf", flashvars, params, attributes);
</script>
</head>
<span id="LOGINPAGE"></span>
<body onLoad="setform(form1)">
<!-- <body onLoad="form1.username.focus()">-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="label_normal">
  <tr>
  	<td><table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" id="HeaderBar">
		<tr>
		<div id="myContent">
			<h1>Alternative content</h1>
		</div>
        </tr></table></td>
  </tr>
  <tr>
  	<td height="22">
	  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="menu_active" background="images/menu_bg.jpg">
		<tr>
			<td height="22" width="20%">&nbsp;<b>Date : <?=date("d/m/").(date("Y") + 543)?></b></td>
	<? if ($MINISTRY_NAME=="กรุงเทพมหานคร" || $CTRL_TYPE==1) { ?>
			<td align="right"><b>หากเกิดปัญหาไม่สามารถใช้งานโปรแกรมได้&nbsp;กรุณาแจ้ง&nbsp;คุณบรรเจิด&nbsp;จันทร์หอม&nbsp;086-644-5577, 081-441-6806 bunjerd.j@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Version 1.0</b>&nbsp;</td>
	        <? } else { ?>
			<td align="right"><b>Release 5.0.0.40a</b>&nbsp;</td>
	        <? } ?>
		</tr>
	  </table>
	</td>
  </tr>

  <tr valign="middle">
	  <td align="center">
	  	<form name="form1" method="post" action="LoginToken.html?command=LOGIN">
          <input type="hidden" name="command1" value="">
	  	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr height="100">
            	<td></td>
            </tr>
		    <tr>
                    <td align="center"><table width="355" height="250" cellspacing="0" cellpadding="0" class="login_table">
                      <tr>
                        <td align="center" valign="top"><table width="100%"  border="0" align="center" cellpadding="5" cellspacing="4" class="login_text">
						<? if ($ERR  > 1 && $ERR < 9) { ?>
                            <tr>
                              <td height="25" colspan="2" align="center" class="label_alert"><b>เปลี่ยนรหัสผ่าน</b></td>
                            </tr>
                            <tr>
                              <td width="35%" align="right">Username : </td>
                              <td width="65%" align="left"><input class="textbox" type="text" name="username" size="30" value="<?=$username?>" onFocus="this.select();"></td>
                            </tr>
							<tr>
								<td align="right"><span class="label_alert">*</span> รหัสผ่านเดิม :&nbsp;</td>
								<td><input name="old_passwd" type="password" class="textbox" value="" size="30" maxlength="30" >                                </td>
							</tr>
							<tr>
								<td align="right">รหัสใหม่ :&nbsp;</td>
								<td><input name="passwd" type="password" class="textbox" value="<?=$passwd?>" size="30" maxlength="30"></td>
							</tr>
							<tr>
								<td align="right">ยืนยัน :&nbsp;</td>
								<td><input name="confirm_passwd" type="password" class="textbox" value="<?=$confirm_passwd?>" size="30" maxlength="30" ></td>
							</tr>
                            <tr>
								<td colspan="2" align="center"><? if ($BUTTON_DISPLAY==1) { ?>
								  <input name="Submit22" type="submit" class="button" onClick="return check_add2(form1);" value="<?=$EDIT_TITLE?>">
                                  <?  } else { ?>                                  &nbsp;&nbsp;
								<input name="image2" type="image" onClick="return check_add2(form1);" src="images/save.png" alt="<?=$EDIT_TITLE?>">
							  <? } echo "&nbsp; &nbsp;";?>                              </td>
							</tr>
                            <? if ($ERR==3) { ?>
                            <tr>
                              <td height="25" colspan="2" align="center" class="label_alert"><b>Update Password Error !</b></td>
                            </tr>
							<? } ?>                            
						<? } else { ?>
                            <tr>
                              <td height="15" colspan="2" align="center"></td>
                            </tr>
                            <tr>
                              <td height="25" colspan="2" align="center" class="label_alert">
                              <? 
                              		if ($ERR==1) { ?>
                                    	<b>Log-In Error !</b>
                                    <? } else if ($ERR==10) { ?>
                                    	<b>รหัสผู้ใช้นี้ ได้ถูกยกเลิกไปแล้ว</b>
                                    <? } else if ($ERR==9) { ?>
                                    	<b>เปลี่ยน Password ใหม่แล้ว โปรดทดลองใหม่</b>
                                    <? }
                              ?></td>
                            </tr>
                            <tr>
                              <td height="15" colspan="2" align="center"></td>
                            </tr>
                            <tr>
                              <td width="31%" align="right">Username : </td>
                              <td width="69%" align="left"><input class="textbox" type="text" name="username" size="30" value="<?=$username?>" onFocus="this.select();"></td>
                            </tr>
                            <tr>
                              <td width="31%" align="right">Password : </td>
                              <td width="69%" align="left"><input class="textbox" type="password" name="password" size="30" value="<?=$password?>" onFocus="this.select();"></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td align="left"><input type="image" src="images/login_button.jpg" name="btn2" value="Log-in"></td>
                            </tr>
						<? } ?>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
		</form>
	  </td>
    </tr>
  <tr>
  	<td height="40">
	</td>
	</tr>
  <tr>
  	<td height="22">
	  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="menu_active">
	  <? if ($MINISTRY_NAME!="กรุงเทพมหานคร" && $xxxxxxxxxxxxxxxx) { ?>
		<tr>
			<td align="center"><b>ขณะนี้ได้แก้ไขปัญหาในการใช้งานโปรแกรมฯ DPIS/PPIS ผ่าน Google Chrome เรียบร้อยแล้ว</b></td>
		</tr>
		<tr>
			<td align="center"><b>ทั้งนี้ หากมีปัญหาการใช้งาน โปรดแจ้งที่ DPIS Call Center 0-2547-2033 ในวันและเวลาราชการ</b></td>
		</tr>
		<? } ?>
	  </table>
	</td>
  </tr>
</table>
</body>
</html>
